/* Global */
:root {
    --white: #eeeeff;
    --light-brown: #ffbb55;
    --orange: #ff8833;
    --brown: #cc8866;
    --black: #666677;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

main {
    color: var(--white);
    display: inline-block;
    margin-left: 10%;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
}

nav .navbar .nav-item {
    list-style: none;
    font-family: Myriad Pro, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

nav .navbar .nav-item a {
    color: var(--white);
    text-decoration: none;
}

nav .navbar .nav-item a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: var(--white);
    transition: 300ms;
}
  
nav .navbar .nav-item a:hover:after {
    width: 100%;
}

.title-section .main-title {
    font-family: Letter Gothic Std, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.title-section .sub-title {
    font-family: Myriad Pro, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: right;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.title-section .upperline {
    height: 0.15rem;
    background-color: var(--white);
    margin: 1rem 0;
    position: relative;
    left: -3000px;
    animation-name: enterleft;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes enterleft {
    0% {
        left: -3000px;
    }
    10% {
        left: -100px;
    }
    100% {
        left: 0;
    }
}

.title-section .lowerline {
    height: 0.15rem;
    background-color: var(--white);
    margin: 0 0 1rem 0;
    position: relative;
    right: -3000px;
    animation-name: enterright;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes enterright {
    0% {
        right: -3000px;
    }
    10% {
        right: -100px;
    }
    100% {
        right: 0;
    }
}

/* Media Queries */
@media(max-width: 700px){
    body {
        justify-content: center;
    }

    main {
        margin-left: 0;
    }

    .title-section .main-title {
        font-size: 2.5rem;
    }

    nav .navbar .nav-item {
        font-size: 1.25rem;
    }
}